.card-img-container {
  height: 140px;              /* Altura fija uniforme */
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-img-top {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;        /* NO corta la imagen */
}


.producto-card {
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  height: 100%; 
}

.producto-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}


.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px; 
}

.pos-category-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 80px;     /* tamaño táctil */
  padding: 0.5rem 0.25rem;
  text-align: center;
}